body {
    background-color: #f0f0f0;
    margin: 0; /* Elimina cualquier margen externo del body */
    font-family: Arial, sans-serif; /* Tipografía estándar */
}

#main-container {
    width: 100%;
    max-width: 450px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*degradado*/
    /* Degradado de fondo */
    background: linear-gradient(to right, rgba(72, 139, 216, 0.7), rgba(52, 179, 238, 0.568));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombreado */
    border-radius: 10px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    border: 0.5px solid #535d66; /* Borde azul */
    border-radius: 5px;       /* Bordes redondeados */
    padding: 16px;           /* Espaciado interno para separar contenido del borde */
    box-sizing: border-box;  /* Asegura que el padding no aumente el tamaño total */
    background-color: white; /* Fondo blanco para el grupo */
  
}



.label {
    position: absolute;
    top: -0px; /* Ajusta la posición del label */
    left: 12px;
    font-size: 0.8rem;
    color: #111213;
    opacity: 0;
    background-color: white; /* Fondo blanco para no mezclar con el input */
    padding: 0 5px;
    pointer-events: none; /* No bloquea el clic en el input */
}

.label.visible {
    opacity: 1; /* Muestra el label */
}

.form-control {
    width: 100%; /* El input ocupa todo el ancho */
    border: none;
    box-shadow: none; /* Elimina el sombreado interno */
    padding: 0px 0px;
    text-align: left; /* Alinea el texto a la izquierda */
    color: #000; /* Asegura que el texto sea negro */
    font-size: 1rem; /* Tamaño del texto */
    
}

::placeholder {
    color: #888; /* Ajusta el color del placeholder */
}


#result {
    padding: 10px;
    font-size: 1.2rem;
    color: #000;
    margin-top: 10px;
    border-top: 0.5px solid #999fa5; /* Línea superior de 2px de ancho con color negro */}