/* Ocultar el label */
/* Estilo para los inputs y el textarea */
  /* Elimina el margen y padding del body para que el contenido ocupe toda la pantalla */
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

  /* Aplica box-sizing para asegurar que padding no afecte el tamaño total del contenedor */
  * {
    box-sizing: border-box;
}
    /* Asegura que la card ocupe todo el espacio disponible */
    #message-card {
        
        display: flex;
        flex-direction: column;
        height: 40%;
        padding: 0 !important;  /* Elimina el espacio inferior */
        margin-bottom: 0; /* Elimina cualquier margen extra en la parte inferior */
        align-items: center;
        justify-content: center;
        padding-top: 30px !important;
    }

.card-body {

    padding: 0 !important;  
    background-color: #f9f9f98e;
    width: 80%;
    border-radius: 5px;
    /*aañador lineaa de borde*/
    /* añadir sombra al borde*/
    margin: 0 0 15px 0; /* Añade un poco de espacio entre los campos */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;


}

/* Ajustar la altura y padding de los inputs */
input.form-control {
    height: 35px;  /* Ajusta la altura del input */
    padding: 8px;  /* Ajusta el padding dentro del input */
    margin-bottom: 5px; /* Elimina el margen inferior del input */
}
/* Elimina el margen de las etiquetas */
label {
    margin-bottom: 0; /* Elimina el margen debajo de la etiqueta */
}
/* fondo transparente para input*/
input { 
    background: transparent !important;
    border: none !important;
    text-align: center;
    
}


label {
    display: none; /* No mostrar el label */
}

footer p {
    margin-top: 10px;
    text-align: center;
    color: rgb(85, 178, 255) !important;
    padding-bottom: 20px;
}

/* Aplica estilo al boton */
.card-button {
    margin-top: 10px;
    text-align: center;
    width: 40%;
}

button {
    padding: 10px 20px;
    background-color: rgb(85, 178, 255) !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo de la notificación */
.notificacion {
    position: absolute;
    top: -50px; /* Ajusta la posición sobre la card */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    z-index: 10; /* Asegura que esté sobre la card */
    transition: opacity 0.5s ease;
}

/* Notificación de éxito */
.notificacion.exito {
    background-color: lightgreen;
    color: green;
}

/* Notificación de advertencia */
.notificacion.advertencia {
    background-color: lightcoral;
    color: red;
}
