/* Asegura que el body ocupe toda la altura de la pantalla y no tenga márgenes */
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra el contenido tanto vertical como horizontal */
    margin: 0; /* Elimina los márgenes predeterminados */
    height: 100vh; /* Hace que el cuerpo ocupe toda la altura de la pantalla */
}

/* Contenedor principal con fondo plomo y altura fija */
#main-container {
    background-color: #8a8989; /* Fondo plomo */
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    border-radius: 10px; /* Borde redondeado */
    width: 400px; /* Ancho ajustado del contenedor */
    height: 50%;
    max-height: 500px; /* Limita el tamaño máximo del contenedor */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

/* Estilo para el contenedor de reloj y botones */
#timer-container {
    background-color: #4f4f4f; /* Fondo plomo */
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ajuste para que ocupe el 100% del espacio disponible */
    max-width: 400px; /* Ajuste para que no se estire demasiado */
    margin: 0 auto;
}

/* Estilo para el display del temporizador */
#timer-display {
    background-color: black;
    color: white;
    font-size: 6rem;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Ajuste de tamaño de la palabra "segundos" */
#timer-display div {
    font-size: 2rem;
}

/* Estilo de los botones */
.buttons button {
    width: 100px;
}

/* Estilo para las etiquetas */
label {
    color: white; /* Cambiar color del texto a blanco */
    font-size: 1.2rem;
    margin-bottom: 10px; /* Espaciado entre el label y el input */
}

