



.bg-custom-green {
    background-color: #62DAD3; /* Un verde claro con toques de calipso */
    opacity: 0.85; /* Nivel de opacidad para suavizar el color */
    padding: 2rem 0;
}

body {
    font-family: Verdana, sans-serif;
}
.navbar {
    background-color: #051B54;
}
.navbar a {
    color: white;
}

.navbar-brand {
    font-family: 'Gill Sans', sans-serif; /* Aplicar Gill Sans */
    transition: color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.navbar-brand:hover {
    color: #FFD700; /* Color dorado al pasar el mouse */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    background-color: rgba(255, 255, 255, 0.2); /* Un fondo semitransparente */
}

.btn-login {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.btn-login {
    background-color: transparent; /* Color de fondo inicial */
    color: white; /* Color del texto */
    border: 1px solid transparent; /* Borde inicial transparente */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.btn-login:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Color de fondo al pasar el mouse */
    color: white;
    
}
.promo-section {
    background-color: #62DAD3;
    padding: 20px;
}

/* Estilo para el formulario */
.formulario {
    color: #051B54; /* Color de letra del formulario */
}
/* Estilo para los botones */
.btn-outline-primary {
    color: #051B54; /* Color de texto */
}
.nav-link {
    color: #051B54; /* Cambia el color del texto si lo deseas */
}

.nav-link {
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
    color: #FFD700; /* Cambia a un color dorado, por ejemplo */
    background-color: rgba(255, 255, 255, 0.2); /* Un fondo semitransparente */
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-success, .btn-outline-danger, .btn-outline-warning, .btn-outline-info {
    color: #051B54; /* Color de texto deseado */
    border: 0.05px solid ;
}

.btn-outline {
    box-shadow: 0 0 0 0.1px black; /* Simula un borde de 0.25px */
    color: #051B54; /* Color de texto */
    background-color: transparent; /* Mantiene el fondo transparente */
    transition: background-color 0.3s; /* Efecto de transición */
}

.btn-outline:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Efecto al pasar el ratón */
}

.btn-group .btn {
    margin: 0; /* Elimina el margen entre botones */
}

.sin-borde {
    border: none;
    box-shadow: none;
}

.boton-delgado {
    border: 0.1px solid; /* Borde delgado */
}
